@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Pretendard";
    font-weight: 900;
    font-display: swap;
    src: local("Pretendard Black"),
        url(../public/fonts/Pretendard/Pretendard-Black.woff2) format("woff2"),
        url(../public/fonts/Pretendard/Pretendard-Black.woff) format("woff");
}

@font-face {
    font-family: "Pretendard";
    font-weight: 800;
    font-display: swap;
    src: local("Pretendard ExtraBold"),
        url(../public/fonts/Pretendard/Pretendard-ExtraBold.woff2)
            format("woff2"),
        url(../public/fonts/Pretendard/Pretendard-ExtraBold.woff) format("woff");
}

@font-face {
    font-family: "Pretendard";
    font-weight: 700;
    font-display: swap;
    src: local("Pretendard Bold"),
        url(../public/fonts/Pretendard/Pretendard-Bold.woff2) format("woff2"),
        url(../public/fonts/Pretendard/Pretendard-Bold.woff) format("woff");
}

@font-face {
    font-family: "Pretendard";
    font-weight: 600;
    font-display: swap;
    src: local("Pretendard SemiBold"),
        url(../public/fonts/Pretendard/Pretendard-SemiBold.woff2)
            format("woff2"),
        url(../public/fonts/Pretendard/Pretendard-SemiBold.woff) format("woff");
}

@font-face {
    font-family: "Pretendard";
    font-weight: 500;
    font-display: swap;
    src: local("Pretendard Medium"),
        url(../public/fonts/Pretendard/Pretendard-Medium.woff2) format("woff2"),
        url(../public/fonts/Pretendard/Pretendard-Medium.woff) format("woff");
}

@font-face {
    font-family: "Pretendard";
    font-weight: 400;
    font-display: swap;
    src: local("Pretendard Regular"),
        url(../public/fonts/Pretendard/Pretendard-Regular.woff2) format("woff2"),
        url(../public/fonts/Pretendard/Pretendard-Regular.woff) format("woff");
}

@font-face {
    font-family: "Pretendard";
    font-weight: 300;
    font-display: swap;
    src: local("Pretendard Light"),
        url(../public/fonts/Pretendard/Pretendard-Light.woff2) format("woff2"),
        url(../public/fonts/Pretendard/Pretendard-Light.woff) format("woff");
}

@font-face {
    font-family: "Pretendard";
    font-weight: 200;
    font-display: swap;
    src: local("Pretendard ExtraLight"),
        url(../public/fonts/Pretendard/Pretendard-ExtraLight.woff2)
            format("woff2"),
        url(../public/fonts/Pretendard/Pretendard-ExtraLight.woff)
            format("woff");
}

@font-face {
    font-family: "Pretendard";
    font-weight: 100;
    font-display: swap;
    src: local("Pretendard Thin"),
        url(../public/fonts/Pretendard/Pretendard-Thin.woff2) format("woff2"),
        url(../public/fonts/Pretendard/Pretendard-Thin.woff) format("woff");
}

.bannerSwiper .mySwiper {
    position: relative !important;
}

.bannerSwiper .swiper-pagination {
    height: 70px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: -70px;

    display: flex;
    align-items: start;
    padding-left: 50px;

    max-width: 1200px;
    min-width: 320px;

    pointer-events: none;
}

.bannerSwiper .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    opacity: 1;
    border-radius: 100px;
    background: #ebebeb !important;
    transition: width 0.5s ease, background 0.5s ease;
}

.bannerSwiper .swiper-pagination-bullet-active {
    width: 20px;
    background: #ff4238 !important;
    transition: width 0.5s ease, background 0.5s ease;
}

.drag-prevent {
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
